.modaltitle{
    font-size: 18px;
}

.textarea{
    width: 100%;
    border:1px solid lightgrey;
    border-radius: 10px;
}

.button-done{
    float: left;
    color: #006CFF;
    background-color: white;
    border: none;
}

.button-cancel{
    color: #006CFF;
    background-color: white;
    border: none;
}